name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test-all-features:
    runs-on: buildjet-8vcpu-ubuntu-2204
    permissions:
      contents: write
      pull-requests: write
      actions: read
      checks: write
      repository-projects: write

    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
          override: true
    - name: Install cargo-all-features
      run: cargo install cargo-all-features
    - name: Run tests for all feature combinations
      # This command builds/tests all combinations sequentially
      run: cargo all-features test -- --verbose


  clippy_check:

    runs-on: buildjet-8vcpu-ubuntu-2204
    permissions:
      contents: write
      pull-requests: write
      actions: read
      checks: write
      repository-projects: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            components: clippy
            override: true
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-targets --all-features -- -D warnings


  format_check:
    runs-on: buildjet-8vcpu-ubuntu-2204
    
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check
